data/schema/niko.xsd

<?xml version="1.0" encoding="UTF-8" ?>

<!--
   CMT-117 & CMT-225

   XML & jQuery Final Project
   Author: Níko Ferdinand
   Date:  

   Filename:          niko.xsd
   Supporting Files:  niko.xml
-->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

</xs:schema>

<xs:element name="nikosProject">
	<xs:complexType>  

	<xs:sequence>
		<xs:element name="Title" type="xs:string"/>
		<xs:element name="Description" type="xs:string"/>	
		<xs:element name="TimeToComplete" type="xs:string"/>
		<xs:element name="DatePublished" type="xs:string"/>
		<xs:element name="Link" type="xs:string"/>
			</xs:sequence>

		</xs:complexType> 
	</xs:element>

<xs:element name="nikosProjects">
 <xs:complexType>
  <xs:sequence>

		<xs:element 
		ref="nikosProject" 
		minOccurs="1"
		maxOccurs="unbounded" 
		type="xs:string" /> 
	
  </xs:sequence>
 </xs:complexType>  
</xs:element>
	
	
	
	
</xs:schema>
